<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps training</title>

    <style>
        .groupInputField {
            text-align: center;
        }
    </style>
</head>


<body>
   <h1 style="text-align: center;">Welcome To percentage Calculator</h1>

   <div class="groupInputField">
    <form action="/submitData" method="post">
        <input type="number" name="num1" style="text-align: center;" placeholder="enter subject 1 mark">
        <input type="number" name="num2" style="text-align: center;" placeholder="enter subject 2 mark">
        <input type="number" name="num3" style="text-align: center;" placeholder="enter subject 3 mark">
        <input type="number" name="num4" style="text-align: center;" placeholder="enter subject 4 mark">
        <input type="number" name="num5" style="text-align: center;" placeholder="enter subject 5 mark">
    <br>
        <button type="submit"> submit </button>
    </form>

</div>


   <div class="container">

    <h1 style="text-align: center;"> Output will be get visible here </h1>


   </div>
</body>
</html>